// @font-face {
//   font-family: "SansaSlab-Black";
//   src: url("../fonts/SansaSlab-Black.otf") format("opentype");
// }
@font-face {
  font-family: "SansaSlab-Black";
  src: url("../fonts/SansaSlabPro-Black.woff") format("woff");
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.ttc") format("opentype");
}
