.header-container {
  height: 80px;
  width: 100%;
  .left-nav-section {
    width: 50%;
  }
  .right-nav-section {
    justify-content: flex-end;
    width: 50%;
    .nav-section {
      width: 90%;
      ul {
        list-style-type: none;
        width: 100%;
        li {
          color: #949ea0;
          cursor: pointer;
          font-size: 14px;
        }
        .login {
          color: #DF9186;
        }
        .registrate {
          background: linear-gradient(270deg, #ECBCB3 0%, #EAA79E 100%);
          box-shadow: 0px 15px 20px rgba(234, 168, 159, 0.2);
          border-radius: 50px;
          cursor: pointer;
          color: #fff;
          padding: 12px;
        }
      }
    }
  }
}
